[importlinter]
root_packages =
    redteam
    routers

[importlinter:contract:redteam-isolation]
name = redteam must not import legacy web_ui or scripts modules
type = forbidden
source_modules =
    redteam
forbidden_modules =
    routers.web_ui
    routers.scripts
    routers.web_ui_test
